@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: rgb(255, 248, 248);
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: #151741;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  min-height: 70px;
  width: 100%;
}
.header__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 3fr 40px 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;
}
.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 2px solid rgba(151, 151, 151, 0.3); /* Левая стенка */
  border-right: 2px solid rgba(151, 151, 151, 0.3);
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header__contacts img {
  width: 35px;
  height: 35px;
}
.header__contacts button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: "Black Han Sans", sans-serif;
  color: white;
  font-size: 9px;
  background: url(../img/background_btn.png);
  background-color: black;
  background-size: 150% 150%;
  background-position: 60% 20%;
}
.header__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-family: Bigshot One;
  font-size: 20px;
  margin-left: 40px;
}
.header__pages a {
  color: #151741;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-right: 35px;
}
.header__social img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 30px;
  height: 30px;
}
.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-family: Bigshot One;
  color: #151741;
  margin: 0 auto;
  gap: 10px;
}
.header__logo img {
  width: 40px;
  height: 40px;
}
.header__logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  overflow: hidden;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 700px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 150px;
  position: relative;
}
.main__content .main__right-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-right: -100px;
}
.main__content .main__left-decor {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -370px;
  top: 100px;
}
.main__body {
  margin-bottom: 80px;
}
.main__text .main__title {
  font-size: 60px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  color: #151741;
  margin-bottom: 10px;
}
.main__text .main__title::before {
  content: "Nickson";
  position: absolute;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  top: 80px;
  left: -50px;
  z-index: 1;
  color: black;
  opacity: 10%;
}
.main__text h3 {
  font-size: 60px;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  color: #fabc3d;
  padding-left: 50px;
}
.main__text p {
  font-size: 24px;
  font-family: "Julee", cursive;
  padding-left: 150px;
  padding-top: 30px;
  line-height: 30px;
}
.main__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-left: 200px;
  padding-top: 40px;
}
.main__contacts a {
  font-size: 20px;
  font-family: Average;
  font-weight: 400;
}
.main__contacts-email {
  font-weight: 400;
  font-family: Bigshot One;
  font-size: 20px;
  padding-bottom: 15px;
  color: #000;
}
.main__contacts-tel {
  font-weight: 400;
  font-family: Bigshot One;
  font-size: 20px;
  padding-bottom: 15px;
  color: #000;
}

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.skills__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.skills__container h2 {
  font-size: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  font-family: "Caveat Brush";
}
.skills__figure {
  z-index: 2;
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__figure img {
  width: 100px;
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__content h2 {
  font-size: 48px;
  font-family: "Caveat Brush";
  margin-bottom: 40px;
}
.portfolio__memcoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  border-radius: 30px;
  border: 1px #000 solid;
  margin-bottom: 40px;
}
.portfolio__xiaomi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  border-radius: 30px;
  border: 1px #000 solid;
}
@media (max-width: 860px) {
  .portfolio .portfolio__grid img {
    width: 200px !important;
    height: 100px !important;
  }
  .portfolio .portfolio__memcoin {
    width: 250px !important;
  }
  .portfolio .portfolio__xiaomi {
    width: 250px !important;
  }
}
@media (max-width: 1250px) {
  .portfolio .portfolio__grid img {
    width: 400px;
    height: 200px;
  }
  .portfolio .portfolio__memcoin {
    width: 500px;
  }
  .portfolio .portfolio__xiaomi {
    width: 500px;
  }
}
.portfolio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 40px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}
.portfolio__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.portfolio__grid img {
  width: 600px;
  height: 300px;
  border: 1px #000 solid;
  border-radius: 30px;
}
.portfolio__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.footer__contact {
  margin: 0 auto;
  max-width: 620px;
  min-height: 500px;
  background-color: #febd3b;
  border-radius: 50px;
  margin-bottom: 100px;
}
.footer__contact h2 {
  text-align: center;
  font-family: "Caveat Brush";
  font-size: 36px;
  margin-bottom: 30px;
  padding-top: 50px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  width: 100%;
}
.footer__form input {
  border-radius: 50px;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
  color: #000000;
}
.footer__form input::-webkit-input-placeholder {
  color: #151741;
  opacity: 90%;
}
.footer__form input::-moz-placeholder {
  color: #151741;
  opacity: 90%;
}
.footer__form input:-ms-input-placeholder {
  color: #151741;
  opacity: 90%;
}
.footer__form input::-ms-input-placeholder {
  color: #151741;
  opacity: 90%;
}
.footer__form input::placeholder {
  color: #151741;
  opacity: 90%;
}
.footer__form button {
  max-width: 150px;
  margin: 0 auto;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  background-color: #3c3636;
  color: #febd3b;
  font-size: 20px;
  font-family: "Caveat Brush";
  margin-bottom: 50px;
}
.footer__items {
  font-family: "Comfortaa", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.footer__social img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 220px;
  width: 50px;
  height: 50px;
}

.footer__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}

.burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  position: relative;
}

.burger-menu span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}

.burger-menu span:nth-child(1) {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.header.open .burger-menu span:nth-child(1) {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}
.header.open .burger-menu span:nth-child(2) {
  opacity: 0;
}
.header.open .burger-menu span:nth-child(3) {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}
.header.open .burger-menu span {
  background-color: white;
}

.burger-menu span:nth-child(2) {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.burger-menu span:nth-child(3) {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

@media (max-width: 998px) {
  .header__center {
    border: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .burger-menu {
    margin: 10px 0 0 10px;
    display: block;
    position: fixed;
    z-index: 50;
  }
  .header__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #9898e2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 40px 40px 40px;
    z-index: 1;
    left: -190px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .header__pages a {
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 26px;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    max-width: 1000px;
    gap: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 15px;
  }
  .header__logo {
    margin: 0;
  }
  .header__contacts {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header__social {
    display: none;
    margin: 0;
  }
}
.header.open .header__pages {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (max-width: 400px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 1370px) {
  .main__right-decor {
    max-width: 300px;
    position: relative;
    top: -50px;
    left: -30px;
  }
  .main__left-decor {
    max-width: 300px;
    left: -100px !important;
    top: 140px !important;
  }
  .main__title::before {
    left: 50px !important;
  }
}
@media (max-width: 1090px) {
  .main__text {
    text-align: center;
  }
  .main__title::before {
    display: none;
  }
  .main__right-decor {
    position: relative;
    left: -50px;
  }
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .main__left-decor {
    display: none !important;
  }
  .main__body {
    margin-top: -100px;
  }
  .main__body h3 {
    padding: 0;
    margin-bottom: 20px;
  }
  .main__body p {
    padding: 0;
    margin-bottom: 15px;
  }
  .main__body .main__contacts {
    padding: 0;
  }
  .main__body .main__contacts p {
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
  }
  .main__body .main__contacts a {
    font-size: calc(14px + 6 * (100vw - 320px) / 880);
  }
}
@media (max-width: 1200px) {
  .main__text p {
    font-size: calc(16px + 8 * (100vw - 320px) / 880);
  }
  .main__text h3 {
    font-size: calc(24px + 36 * (100vw - 320px) / 880);
  }
  .main__text h2 {
    font-size: calc(24px + 36 * (100vw - 320px) / 880) !important;
  }
}
@media (max-width: 830px) {
  .skills__container h2 {
    font-size: calc(30px + 16 * (100vw - 320px) / 510);
  }
  .skills__container img {
    width: calc(20px + 80 * (100vw - 320px) / 510);
  }
  .portfolio__content h2 {
    font-size: calc(30px + 18 * (100vw - 320px) / 510);
  }
  .skills__figure {
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .skills__figure {
    gap: 15px;
  }
  .portfolio__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 600px) {
  .skills__container h2 {
    margin-bottom: 30px;
  }
  .skills__figure {
    margin-bottom: 30px;
  }
}
